---
import { giscusConfig } from "@/config";
---

<div id="giscus_container">
  <script is:inline src="https://giscus.app/client.js"
    data-repo={giscusConfig.repo}
    data-repo-id={giscusConfig.repoId}
    data-category={giscusConfig.category}
    data-category-id={giscusConfig.categoryId}
    data-mapping={giscusConfig.mapping}
    data-strict="0"
    data-reactions-enabled={giscusConfig.reactionsEnabled ? "1" : "0"}
    data-emit-metadata="0"
    data-input-position={giscusConfig.inputPosition}
    data-theme={giscusConfig.theme}
    data-lang={giscusConfig.lang}
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
